name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: BST insertion + duplicate handling
      id: bst-insertion-duplicate-handling
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: BST insertion + duplicate handling
        setup-command: ''
        command: make task1
        timeout: 1
        max-score: 20
    - name: Traversals (inorder, preorder, postorder)
      id: traversals-inorder-preorder-postorder
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Traversals (inorder, preorder, postorder)
        setup-command: ''
        command: make task2
        timeout: 1
        max-score: 30
    - name: Tree height
      id: tree-height
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Tree height
        setup-command: ''
        command: make task3
        timeout: 1
        max-score: 20
    - name: Number of nodes
      id: number-of-nodes
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Number of nodes
        setup-command: ''
        command: make task4
        timeout: 1
        max-score: 15
    - name: Number of leaves
      id: number-of-leaves
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Number of leaves
        setup-command: ''
        command: make task5
        timeout: 1
        max-score: 15
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        BST-INSERTION-DUPLICATE-HANDLING_RESULTS: "${{steps.bst-insertion-duplicate-handling.outputs.result}}"
        TRAVERSALS-INORDER-PREORDER-POSTORDER_RESULTS: "${{steps.traversals-inorder-preorder-postorder.outputs.result}}"
        TREE-HEIGHT_RESULTS: "${{steps.tree-height.outputs.result}}"
        NUMBER-OF-NODES_RESULTS: "${{steps.number-of-nodes.outputs.result}}"
        NUMBER-OF-LEAVES_RESULTS: "${{steps.number-of-leaves.outputs.result}}"
      with:
        runners: bst-insertion-duplicate-handling,traversals-inorder-preorder-postorder,tree-height,number-of-nodes,number-of-leaves
